* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body, #wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  background: #eee;
  font-family: sans-serif;
  padding: 10px;
}

body * {
  text-align: center;
}

button {
  cursor: pointer;
}

#lang {
  line-height: 24px;
  text-align: right;
}

#lang span[class^='flag-'] {
  cursor: pointer;
  font-size: 24px;
}

#lang button {
  border: none;
  background: transparent;
}

#wrapper {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  max-width: 100%;
  font-size: 32px;
  flex: 1;
}

#timing-zone {
  display: initial;
}

#timing-zone.hide {
  display: none;
}

#question-zone {
  display: none;
}

#error {
  background: #F32328;
  color: #fff;
  display: none;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

#error.show {
  display: inherit;
}

#question-zone.show {
  display: unset;
}

#question-zone input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-family: monospace;
  font-size: 36px;
  outline: none;
  padding: 5px 0;
  width: 200px;
}

#question-zone button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  height: 46px;
  outline: none;
  padding: 5px;
  width: 46px;
}

#question-zone button:active {
  background: #aaa;
}

#timer {
  color: #f00;
  font-family: monospace;
  font-size: 54px;
  font-weight: 700;
}

#set-time {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 24px;
  line-height: 24px;
  outline: none;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  #wrapper {
    font-size: 48px;
  }

  #timer {
    font-size: 72px;
  }
}

#description {
  font-size: 16px;
}

footer {
  font-size: 12px;
}
