* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body, #wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  background: #eee;
  font-family: sans-serif;
  padding: 10px;
}

body * {
  text-align: center;
}

#lang {
  line-height: 24px;
  text-align: right;
}

#lang span[class^='flag-'] {
  cursor: pointer;
  font-size: 24px;
}

#lang button {
  border: none;
  background: transparent;
}

#wrapper {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  max-width: 100%;
  font-size: 32px;
  flex: 1;
}

#timer {
  color: #f00;
  font-family: monospace;
  font-size: 54px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  #wrapper {
    font-size: 48px;
  }

  #timer {
    font-size: 72px;
  }
}

#description {
  font-size: 16px;
}

footer {
  font-size: 12px;
}
